@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Questrial&display=swap');

.typed-corr {
    color: green;
    /* background-color: blue; */
}

.typed-wr {
    color: red;
    /* background-color: black; */
}

/* .untyped {
    background-color: gray;
} */

.typed-corr,
.typed-wr,
.untyped {
    letter-spacing: 1.5px;
    font-size: 20px;
    font-family: "Questrial";
}

.race-time,
.end-screen {
    display: none;
}

.text-display {
    z-index: -1;
}


/* cursor animation ref: https: //www.w3docs.com/snippets/css/how-to-create-a-blinking-effect-with-css3-animations.html */

.cursor {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}


@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}